:root {
  --white: hsl(0, 0%, 100%);
  --main-bg-color: hsl(212, 45%, 89%);
  --color-light-text: hsl(220, 15%, 55%);
  --bold-text-color: hsl(218, 44%, 22%);
  --fw-light: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 1px);
  overflow: hidden;
}

.main-container {
  max-width: 90%;
  height: 32rem;
  margin: 20% auto;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 20px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.main-container > img {
  width: 100%;
  /* max-width: 375px; */
  border-radius: 20px;
  object-fit: contain;
  overflow: hidden;
  flex-shrink: 1;
}

.text-container {
  width: 90%;
  max-height: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding: 0;
}

.main-text {
  color: var(--bold-text-color);
  font-weight: var(--fw-bold);
  text-align: center;
  font-size: 22px;
  margin-bottom: 1rem;
}

.subtext {
  color: var(--color-light-text);
  font-weight: var(--fw-light);
  text-align: center;
  margin: 0;
}

@media only screen and (min-width: 440px) {
  .main-container {
    width: 22rem;
    height: 33rem;
  }

  .main-container > img {
    width: 20rem;
  }
}
